@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Roboto:wght@100;400;700;900&display=swap');


:root{
    --width: 750px;
    --lightPColor: rgb(80, 162, 255);
    --lightSColor: rgb(130, 188, 255);/* 
    --darkPColor: #101c5c;
    --darkSColor: #102691; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


a{
    text-decoration: none;
}


/* Escolhe o tema com base no sistema operacional */

@media (prefers-color-scheme: light){
    :root{
    --lightPColor: #101c5c;
    --lightSColor: #102691;
    }
}

/* MAIN PAGE */

.main-page{
    background: linear-gradient(100deg, var(--lightPColor), var(--lightSColor) );
    background-repeat: no-repeat;
    min-height: 80vh;
}

/* 

.main-page .sol{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-60%, -10%);
}

.main-page #sol{
    animation: sol 40s linear infinite;
}

@keyframes sol{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

/* MAIN PAGE | header*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 90px;
    margin-right: 15px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.logo img:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
}

.logo a{
    color: white;
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 15px;
}

header ul li a{
    color: white;
    padding: 10px;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
}

header ul li a:hover{
    background-color: white;
    color: rgb(41, 41, 41);
    font-weight: 400;
    padding: 20px;
    font-size: 1.25em;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}

header ul li a ion-icon{
    font-size: 1.7em;
    margin: auto 0;
}

/* MAIN PAGE | content*/

.main-page .content{
    display: flex;
    max-width: var(--width);
    margin: 0 auto;
    padding: 15vh 0;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.main-page .content h1{
    color: white;
}

.main-page .content p{
    color: white;
    margin-bottom: 20px;
}

.main-page .content-info{
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
    margin-right: 90px;
    padding: 25px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.main-page .content-info:hover{
    transform: translate(0, -20px);
    transition: all .3s ease-in-out;
}

#bus{
    background-color: white;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 34%;
    border-top-right-radius: 43%;
    animation: Onibus 5s linear infinite;
}

@keyframes Onibus{
    0%{
        transform:translateY(0);
        transform:translateX(0);
    }
    50%{
        transform:translate(-15px , 15px);

    }
    100%{
        transfor: translateY(0);
        transform:translateX(0);
    }
}

.main-page .content a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.5em;
    transition: all .2s ease;
}

.main-page .content a:hover{
    padding: 15px;
    font-size: 1.75em;
    transition: all .2s ease;
}

/* MAIN PAGE | wave */

.main-page .wave{
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}

.main-page .wave.wave1{
    animation: wave1 29s linear infinite;
    z-index: 100;
    opacity: 1;
    animation-delay: 0s;
}

@keyframes wave1{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

.main-page .wave.wave2{
    animation: wave2 15s linear infinite;
    z-index: 99;
    opacity: 0.5;
    animation-delay: -5s;
}

@keyframes wave2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -1000px;
    }
}


/* SOBRE */

.sobre{
    position: relative;
    padding: 50px;
}


.sobre .sobre-content{
    text-align: center;
    position: relative;
    z-index: 100;
    padding: 20px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}

.sobre .sobre-content h1{
    margin-bottom: 50px;
}

.sobre .sobre-content .grid{
    display: flex;
    justify-content: space-evenly;
}

.sobre .sobre-content .subtitle{
    margin-bottom: 10px;
}

.sobre .sobre-content .grid .grid1,.grid2,.grid3{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px;    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    transition: all .3s ease-in-out;
}

.sobre .sobre-content .grid1:hover{
    transform: translate(0, -20px);
    transition: all .3s ease-in-out;
}

.sobre .sobre-content .grid2:hover{
    transform: translate(0, -20px);
    transition: all .3s ease-in-out;
}

.sobre .sobre-content .grid3:hover{
    transform: translate(0, -20px);
    transition: all .3s ease-in-out;
}

/* FOOTER*/

footer{
    background: linear-gradient(270deg, rgb(0, 0, 0), rgb(45, 45, 45));
    color: white;
    padding: 20px;
}

footer h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #797979;
    transition: all .3s ease-in-out;
}

footer a:hover{
    color: white;
    transition: all .3s ease-in-out;
}

footer a:nth-child(1){
    margin-right: 60px;
}

footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}